a {
    text-decoration: none;
    color: black;
}

.place-content {
    display: flex;
    width: auto;
    height: 97.8vh; 
    border: 3px rgb(19, 19, 24) solid;
}

.content {
    display: grid;
    flex: 1;
}

@media screen and (min-width: 720px) {
    .content {
        grid-template-columns: 2fr 3fr;
    }
}
@media screen and (min-width: 1080px) {
    .content {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 1320px) {
    .content {
        grid-template-columns: 3fr 2fr;
    }
}
@media screen and (min-width: 1600px) {
    .content {
        grid-template-columns: 2fr 1fr;
    }
}


.place-img-content {
    height: auto;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    border: 3px green solid;
}

.place-text-content {
    height: auto;
    display: flex;
    align-items: center;
    border: 3px red solid;
}

.img-content {
    width: 50%;
    height: 50%;
    border: 3px blue solid;
}

.text-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    margin: 1em;
    padding: 1em;
    border: 3px rebeccapurple solid;
}

.li-url {
    list-style-type: none;
}

.ul-url {
    margin-left: 0;
    padding-left: 0;
}